body{
    background-color: #3f3f3f;
}
div.naruto{
    float: right;
}
div.sasuke{
    float: right;
}
div.menma{
    text-align: center;
}
div.ryuu{
    text-align: center;
    background-color: #3babe6;
    height: 335px;
}
div.taro{
    font-size: large;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#footer{
    background-color: #3babe6;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: small;
}
a{
    color: whitesmoke;
}